<div class="layout-row layout-align-space-around">
  <h2>Player X: </h2>
  <h2>{{@score.p1Score}}</h2>
  <h2>Player O: </h2>
  <h2>{{@score.p2Score}}</h2>
  <h2>Draw: </h2>
  <h2>{{@score.tie}}</h2>
</div>
