<div class="board flex">
  <div class="layout-row">
    <Tile::Tile />
    <Tile::Tile />
    <Tile::Tile />
  </div>
  <div class="layout-row">
    <Tile::Tile />
    <Tile::Tile />
    <Tile::Tile />
  </div>
  <div class="layout-row">
    <Tile::Tile />
    <Tile::Tile />
    <Tile::Tile />
  </div>
</div>
