<div class="layout-row layout-align-space-around intro">
  <PaperButton @primary={{true}}
               @raised={{true}}
               @href="game"
               class="intro-btn"
               type="button" >
     Play
  </PaperButton>
</div>
